html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inner {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  padding-top: 20px;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
}
/* Default */
#outer.pomodoro {
  background-color: #eed7a1;
}

#outer.short {
  background-color: #50b8e7;
}

#outer.long {
  background-color: #ff9b9b;
}

#inner.pomodoro {
  background-color: #f7efd2;
}

#inner.short {
  background-color: #bfebff;
}

#inner.long {
  background-color: #fbc3b0;
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-start;
}

.buttons {
  background: none;
  width: 25%;
  height: 40px;
  border-radius: 5px;
  font-family: "Inter";
  font-size: 95%;
  border: none;
}

.active-button {
  background-color: white;
  border: none;
  font-weight: bold;
}

#timer {
  font-size: 100px;
  font-family: "Orbitron";
  font-weight: bold;
}

#startBtn {
  text-align: center;
  height: 15%;
  width: 50%;
  background-color: white;
  color: red;
  font-size: 200%;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: #f22a2a;
}
